<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>change</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<style type="text/css">
*{list-style:none;font-size:14px;font-family:tahoma;}
</style>
</head>
<body>



<pre>

input, radio, checkbox也有change事件

input事件：实时监听
change事件：失去焦点并value有变化是才执行。


</pre>

<hr />

<div id="app">

  <input type="text" @change="foo" @input="foo" @blur="foo" v-model="aa"/>
	<h2>{{aa}}</h2>	
  <ul>
    <li v-for="val in logs">{{ val }}</li>
  </ul>
</div>

<script type="text/javascript">

new Vue({
  el: '#app',
  data: {
  	logs: [],
	aa:'',
  },
  methods: {
  	foo: function (e) {
		var o = e.target;
		this.logs.push(e.type +" "+ o.type   +": "+ o.value);
    },

  }
})


</script>


			
</body>


</html>