
<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>双向绑定</title>
<script src="js/vue1.0.js"></script>
<link rel="stylesheet" href="css/demo.css" />
<style type="text/css">
pre{padding:20px;}
template{display:none;}
table{margin:20px 0;}
</style>
</head>

<body>

<pre>
vue2去掉了.sync

双向绑定
可以使用.sync显式地指定双向绑定，这使得子组件的数据修改会回传给父组件。
http://www.cnblogs.com/keepfool/p/5625583.html#undefined
</pre>

<hr />

<div id="app">

	<table>
		<tr>
			<th colspan="3">父组件数据</td>
		</tr>
		<tr>
			<td>{{ name }}</td>
			<td><input type="text" v-model="name" /></td>
		</tr>
		<tr>
			<td>{{ age }}</td>
			<td><input type="text" v-model="age" /></td>
		</tr>
	</table>

	<vv v-bind:my-name.sync="name" v-bind:my-age.sync="age"></vv>

</div>

<template id="myComponent">
	<table>
		<tr>
			<th colspan="3">子组件数据</td>
		</tr>
		<tr>
			<td>{{ myName }}</td>
			<td><input type="text" v-model="myName" /></td>
		</tr>
		<tr>
			<td>{{ myAge }}</td>
			<td><input type="text" v-model="myAge" /></td>
		</tr>
	</table>
</template>

</body>

	
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			name: 'keepfool',
			age: 28
		},
		components: {
			'vv': {
				template: '#myComponent',
				props: ['myName', 'myAge']
			}
		}
	})
</script>

</html>