<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>v-model动态生成</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<style type="text/css">
*{list-style:none;font-size:14px;font-family:tahoma;}
</style>
</head>
<body>



<pre>
vue中v-model动态生成
https://blog.csdn.net/zhuming3834/article/details/70170305
</pre>

 <div id="app">
	<div class="line" v-for="(item,index) in dataModel">
		<input type="text" v-model="dataModel[index].value1" />
		<span>{{dataModel[index].value1}}</span>

		<button v-bind:data-index="index" v-on:click="submitClick">提交</button>

		<input type="text" v-model="dataModel[index].value2" />
		<span>{{dataModel[index].value2}}</span>
	</div>
</div>

<script>
	var app = new Vue({
		el: "#app",
		data: {
			// 创建一个空的数组 
			dataModel: [{value1: -1,value2: ''},{value1: 0,value2: ''}]
		},
		created: function(){
			// 这里是动态生成v-model,这个可以放在网络请求成功里面;
			var len = 3;
			for (var i = 0; i < len; i ++) {
				var item = {value1: i,value2: ''};
				this.dataModel.push(item);
			}

			console.log(this.dataModel);
		},
		methods: {
			// 显示v-model里面的数据
			submitClick: function(event){
				var tag = event.target;
				var index = tag.getAttribute('data-index');
				alert(this.dataModel[index].value1);
			}
		}
	})
</script>


			
</body>


</html>