
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>v-for select</title>
</head>
<script src="js/vue.min.js"></script>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<style type="text/css">

div{margin:20px 50px;}
select{padding:5px 5px;min-width:150px;font-size:14px;display:block;}
input{padding:7px;}

</style>
<body>
<pre>

</pre>

<div id="app">
	<p>	<input v-model="sed" placeholder="edit me"></p>
	<select v-model="sed" @change='foo' id="sel">
		<option v-for="(val, index) in fruit" :value="val.id" :index=index>{{val.name}}</option>
	</select>

	<p>selected: {{sed}}, text: {{text}}, open:{{open}}</p> 
	<p v-show="sed==2">这是一段隐藏的内容</p>

</div>	


<script>


new Vue({
	el: '#app',
	data: {
		sed: 2,
		text: '',
		open: false,
		fruit: [
			{id: 2,	name: 'peach2'},
			{id: 3,	name: 'orange3'},
			{id: 4, name: 'apple4'}, 
		],
	},
	watch: {
		sed: function (val, val2) {
			this.open = val == 2 ? true : false;
			console.log(val, ',  ', val2);
//			this.text = $("#sel option:selected").text();		// 这里可以设置text值
		}
	},
	methods:{
		foo: function(ele){
			 var txt = $(ele.target).find("option:selected").text();  
			 var val = ele.target.value;  
			 this.text = txt;							// 这里也可以设置text值
			 console.log(val, txt);				
		},
	},
	mounted: function(){
		this.text = $("#sel option:selected").text();
	},
})



</script>

</body>

</html>