<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>watch</title>
</head>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/vue.min.js"></script>
<style type="text/css">
*{list-style:none;font-size:14px;font-family:tahoma;}
li{border:1px solid #ccc;padding:10px;}
#box1{padding:10px;}
</style>

<body>
<pre>
v-for指令基于一个数组渲染一个列表，它和JavaScript的遍历语法相似：

v-for="item in items"
items是一个数组，item是当前被遍历的数组元素。
</pre>
<hr />

<div id="box1">
watch监听对象里某个属性的变化
watch可以在vue的实例上watch，也可以在组件的实例上watch
</div>

<div id="app">

	<div>{{jj.a}}</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Sex</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(person, ind) in arr">
				<td>{{ind}}-{{person.name}}</td>
				<td>{{person.age}}</td>
				<td>{{person.sex}}</td>
			</tr>
		</tbody>
	</table>

</div>

</body>
<script>
var vm = new Vue({
		el: '#app',
		data: {
			jj: {a:11, b:22},
			city: "深圳",
			arr: [{
				name: '小明',
				age: 30,
				sex: 'Male'
			},{
				name: 'Chris',
				age: 36,
				sex: 'Male'
			}]
		},
		watch:{			//	arr变化后，模板渲染之前执行
			"arr": function(nv, ov) {
				alert("arr变了");
				console.log(nv);
				console.log(ov);
			}
		}
	})

vm.$watch('arr', function (nv, ov) {
    alert(Math.random());
})

vm.$watch('jj.a', function (nv, ov) {
    alert("jj.a变啦，" +","+nv +","+ ov +"," + this.jj.a);
})


vm.arr.push({name:"nolan", age:32, sex:"Male"})

vm.jj.a = "ww"

</script>
</html>