<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>axios post</title>
</head>
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<style type="text/css">
*{list-style:none;font-size:14px;font-family:tahoma;}

#stable{width:60%;margin:20px auto;color:#000;font-size:12px;text-align:left;font-family:"Microsoft YaHei", Tahoma,background:#fff;border-collapse:collapse;}
#stable th{padding:10px 15px;color:#333;text-align:left;border:1px solid #ddd;background:#F0F5F7;}
#stable td{padding:8px 15px;border:1px solid #ddd;text-align:left;}
#stable tbody tr.trSelected{background:#CCFFFF;}
#stable tbody tr:hover{background:#FFFF99;}

</style>
<body>
<pre>

https://www.kancloud.cn/yunye/axios/234845

axios提供了一下几种请求方式
axios.request(config)
axios.get(url[, config])
axios.delete(url[, config])
axios.head(url[, config])
axios.post(url[, data[, config]])
axios.put(url[, data[, config]])
axios.patch(url[, data[, config]])

</pre>
<hr />

<div id="app">

	<div id="box">
		<input type="button" @click="get()" value="按钮get">
		<input type="button" @click="post()" value="按钮post">
	</div>


	<table	id="stable">

		<thead>
			<tr>
				<th v-for="col in columns">
					{{ col}}
				</th>
			</tr>
		</thead>
		
		<tbody>
			<tr v-for="entry in data">
				<td v-for="(v,k) in entry">
				{{v}}
				</td>
			</tr>
		</tbody>
	</table>

</div>


<script type="text/javascript">

axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';


axios({
  url: 'test.php',
  method: 'post',
  data: {
    a: '33',
    b: '44'
  },
  transformRequest: [function (data) {
	console.log(data);

  }],
  headers: {
    'Content-Type': 'application/x-www-form-urlencoded'
  }
})


</script>
				
	</body>


</html>